@import "./bulma";
@import "./add-to-calendar";

html,
body {
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.main-content {
  background: $light;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: $dark;
  color: $white-ter;
}

.title.is-1 {
  color: $primary;
}

.title {
  font-family: "Oswald";
}

.is-loading {
  &:after {
    @include loader;
    display: block;
    margin: 6rem auto;
    width: 5rem;
    height: 5rem;
    border-width: 0.25rem;
  }
  > * {
    display: none;
  }
}
